*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-next{
    width: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
}
